

{% extends "base.html" %}
{% load static %}
{% block content %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
					
					<div id="collapseFilters" >

						<div class="aside">
							<h3 class="aside-title">Filtres</h3>
							<form action="{% url 'main:Products' %}" method="get">
								<div class="input-checkbox">
									<input name="new" type="checkbox" id="category-1">
									<label for="category-1">
										<span></span>
										Nouveau
									</label>
								</div>
								<div class="input-checkbox">
									<input name="top" type="checkbox" id="category-2">
									<label for="category-2">
										<span></span>
										Meilleurs Ventes
									</label>
								</div>
							
								<div class="price-filter">
									<div id="price-slider"></div>
									<div class="input-number price-min">
										<input name="min" id="price-min" type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
									<span>-</span>
									<div class="input-number price-max">
										<input name="max" id="price-max" type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class=" text-uppercase buy-directly btn-block mt-3" type="submit" style="margin-top: 8px;">Filtrer</button>
							</form>
						</div>
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">
								{% for sub in sous_categories %}
									<div class="input-checkbox">
										<a href="{{sub.get_absolute_url}}">
										<label class="text-uppercase" >
												{{sub.name}}
												<small>({{sub.products.all|length}})</small>
											</label>
										</a>
									</div>
								{% endfor %}
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						
						<!-- /aside Widget -->

						<!-- aside Widget -->
					</div>
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store products -->
						<div class="row">
							<!-- product -->
							{% for product in products %}
								<div class="col-xs-6 col-md-4 col-xl-3">
									{% include "snippets/product-block.html" %}
								</div>
								<!-- /product -->
							{% endfor %}

					
							<!-- <div class="clearfix visible-sm visible-xs"></div> -->

							<!-- product -->
						</div>
					
						<ul class="store-pagination">
							{% if page_obj.has_previous %}
								<li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
							{% endif %}
							{% for contact in page_obj.paginator %}
								<li 
									{% if contact.number is page_obj.number %}
									class="active"
									{% endif %}
								>
								<a href="?page={{ contact.number }}" > {{ contact.number }} </a>
								</li>
							{% endfor %}
							
							{% if page_obj.has_next %}
								<!-- <a href="?page={{ page_obj.next_page_number }}">next</a> -->
								<li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
							{% endif %}
						</ul>
						<!-- store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}