{% extends "base.html" %}
{% load static %}
{% block title %}  Cigarettes electronique {% endblock title %}
{% block content %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row d-flex slider the-slider ">
					<div>
						<a href="{% url 'main:Products' %}">
							<img class="img-fluid image-slider" src="{% static 'img/slider.png' %}" alt="">
						</a>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Nouveaux Produits</h3>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for product in new_products %}
										  
										{% include "snippets/product-block.html" %}
										<!-- /product -->
										{% endfor %}
									</div>
								</div>
							</div> 
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
					
							<h2 class="text-uppercase">DE LA CIGARETTE ÉLECTRONIQUE À LA VAPE...
							</h2>
							<p>Nouvelle collection a moins 50% </p>
							<a class="primary-btn cta-btn" href="#">Acheté maintenant</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->
		
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			
			<div class="container">
				<!-- row -->
				<div class="row">
					
					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Meilleur Ventes</h3>
							
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
					</div>
					<!-- /section title -->
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for product in top_selling %}
											{% include "snippets/product-block.html" %}
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
							</div> 
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Meilleurs ventes</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>
						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<!-- product widget -->
								{% for product in random_3_1 %}
									{% include "snippets/product-widget.html" %}
								{% endfor %}
								<!-- /product widget -->
							</div>

							<div>
								{% for product in random_3_2 %}
									{% include "snippets/product-widget.html" %}
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Meilleurs ventes</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<!-- product widget -->
								{% for product in random_3_3 %}
									{% include "snippets/product-widget.html" %}
								{% endfor %}
								<!-- /product widget -->
							</div>

							<div>
								<!-- product widget -->
								{% for product in random_3_4 %}
									{% include "snippets/product-widget.html" %}
								{% endfor %}
								<!-- /product widget -->

							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Meilleurs ventes</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<!-- product widget -->
								{% for product in random_3_5 %}
									{% include "snippets/product-widget.html" %}
								{% endfor %}
								<!-- /product widget -->

							</div>

							<div>
								<!-- product widget -->
								{% for product in random_3_6 %}
									{% include "snippets/product-widget.html" %}	
								{% endfor %}
								<!-- /product widget -->

								
							</div>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock content %}